<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="pl.hypeapp.endoscope">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true"/>
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false"/>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.NFC"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/App.Theme">
        <activity
            android:name="pl.hypeapp.endoscope.ui.activity.MainMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/App.Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="pl.hypeapp.endoscope.ui.activity.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/App.Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="pl.hypeapp.endoscope.ui.activity.ConnectToStreamActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/App.Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>

        </activity>
        <activity
            android:name="pl.hypeapp.endoscope.ui.activity.StartStreamActivity"
            android:screenOrientation="portrait"
            android:theme="@style/App.Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>


        </activity>
        <activity
            android:name="pl.hypeapp.endoscope.ui.activity.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/App.Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="pl.hypeapp.endoscope.ui.activity.HowToUseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/App.Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="pl.hypeapp.endoscope.ui.activity.PlayStreamActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/App.Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <service android:name="net.majorkernelpanic.streaming.rtsp.RtspServer"/>

    </application>

</manifest>